@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.985 0 0);
	--color-gray-100: oklch(0.967 0.001 286.375);
	--color-gray-200: oklch(0.92 0.004 286.32);
	--color-gray-300: oklch(0.871 0.006 286.286);
	--color-gray-400: oklch(0.705 0.015 286.067);
	--color-gray-500: oklch(0.552 0.016 285.938);
	--color-gray-600: oklch(0.442 0.017 285.786);
	--color-gray-700: oklch(0.37 0.013 285.805);
	--color-gray-800: oklch(0.274 0.006 286.033);
	--color-gray-900: oklch(0.21 0.006 285.885);
	--color-gray-950: oklch(0.141 0.005 285.823);

	--color-primary-50: oklch(0.971 0.014 343.198);
	--color-primary-100: oklch(0.948 0.028 342.258);
	--color-primary-200: oklch(0.899 0.061 343.231);
	--color-primary-300: oklch(0.823 0.12 346.018);
	--color-primary-400: oklch(0.718 0.202 349.761);
	--color-primary-500: oklch(0.656 0.241 354.308);
	--color-primary-600: oklch(0.592 0.249 0.584);
	--color-primary-700: oklch(0.525 0.223 3.958);
	--color-primary-800: oklch(0.459 0.187 3.815);
	--color-primary-900: oklch(0.408 0.153 2.432);
	--color-primary-950: oklch(0.284 0.109 3.907);

	--color-secondary-50: oklch(97% 0.015 30);
	--color-secondary-100: oklch(92% 0.02 30);
	--color-secondary-200: oklch(86% 0.03 30);
	--color-secondary-300: oklch(80% 0.04 30);
	--color-secondary-400: oklch(74% 0.05 30);
	--color-secondary-500: oklch(68% 0.06 30);
	--color-secondary-600: oklch(60% 0.07 30);
	--color-secondary-700: oklch(52% 0.08 30);
	--color-secondary-800: oklch(40% 0.09 30);
	--color-secondary-900: oklch(30% 0.1 30);
	--color-secondary-950: oklch(20% 0.11 30);

	--font-body: "Figtree", sans-serif;
	--font-display: "Figtree", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-body);
}
